<div id='note-notebook-container'>
  <div id='notebook-back'>
    <a><%= link_to "<--", controller: 'home', action: 'index' %><a/>
  </div>
  <div id='notebook-content'> 
    <div id='notebook-navigation-container'>
      <div id='notebook-navigation'>
        <div class='notebook-column'>
          <% @notes.each do |n| %>
            <div id='<%= n.id %>' class='nav-note-title'>
              <%= "- " + n.title %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id='notebook-show-container'>
      <div id='notebook-show'>
        <% if !@note.nil? %>
          <%= render partial: "notebook_note_show", layout: false %>
        <% end %>
      </div>
    </div>
  </div>
  <!--<div id='react-target'>
  </div>-->
</div>
<script type='text/babel'>

  /*
  var HelloWorld = React.createClass({
    render: function() {
      return (
        <div>
          <input type="text" placeholder="Your name here."/>
        </div>
        <div>
          <a>It is {this.props.date.toTimeString()}</a>
        </div>
      );
    }
  });

  setInterval(function() {
    ReactDOM.render(
      <HelloWorld date={new Date()} />,
      document.getElementById('react-target')
    );
  }, 500);
  */

</script>
