<div id='left-nav-page-container'>
  <div>
    <input type='button' value='Journal' id='left-nav-journal' class='left-nav-button'>
  </div>
  <div>
    <input type='button' value='Notes' id='left-nav-notes' class='left-nav-button'>
  </div>
  <div>
    <input type='button' value='Tasks' id='left-nav-tasks' class='left-nav-button'>
  </div>
  <div>
    <input type='button' value='Goals' id='left-nav-goals' class='left-nav-button'>
  </div>
</div>
