<div id='create-longterm-note-form'>
  <%= form_for(@new_longterm_note, url: {controller: 'notes', action: 'create'}) do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>
</div>
