<div id='planner-page-container'>
  <div id='planner-entry'>
    <div id='planner-header'>
      <div id='planner-title'>
        <a>title here</a>
      </div>
      <div id='planner-date'>
        <a>date here</a>
      </div>
    </div>
    <div id='planner-content'>
      <a>content here</a>
    </div>
  </div>
</div>
