<div id='right-nav-page-container'>
  <div>
    <input type='button' value='Journal' id='right-nav-journal' class='right-nav-button'>
  </div>
  <div>
    <input type='button' value='Notes' id='right-nav-notes' class='right-nav-button'>
  </div>
  <div>
    <input type='button' value='Tasks' id='right-nav-tasks' class='right-nav-button'>
  </div>
  <div>
    <input type='button' value='Goals' id='right-nav-goals' class='right-nav-button'>
  </div>
</div>
