<div id='home-page-container' class='page-container'>
  <div id='home-left-nav' class='home-major-section'>
  </div>
  <div id='home-left-content' class='home-major-section'>
  </div>
  <div id='home-middle' class='home-major-section'>
    <div id='middle-content-container'>
      <%= render partial: "calendar", layout: false %>
    </div>
  </div>
  <div id='home-right-content' class='home-major-section'>
  </div>
  <div id='home-right-nav' class='home-major-section'>
  </div>
</div>
