// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-page-container {
  width: 100%;
  height: 100%;
}

// home major containers

.home-major-section {
  display: inline-block;

  height: 100%;

  margin: 0 -5px 0 0;
}

#home-left-nav {
  width: 10%;
  background-color: #888888;
}

#home-left-content {
  width: 25%;
  background-color: #222222;
}

#home-middle {
  width: 30%;
  background-color: #888888;
}

#home-right-content {
  width: 25%;
  background-color: #222222;
}

#home-right-nav {
  width: 10%;
  background-color: #888888;
}

// Home minor section containers

.minor-section-content {
  background-color: #EEEEEE;

  margin: 5px;
}

// home middle-top section

.home-major-section {
  position: relative;
}

.major-section-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  background-color: #444444;
}

#calendar {
  border: 1px solid black;

  padding: 10px;

  background-color: #2F2E58;

  width: 300px; //ToDo: update calendar CSS to be resizable
}

#calendar-header {
  position: relative;

  height: 64px;
  background-color: #CCCCCC;

  margin-bottom: 10px;
}

.calendar-overdue-mark {
  color: red;
}

.calendar-completed-mark {
  color: blue;
}

.calendar-upcoming-mark {
  color: green;
}

#calendar-header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#calendar-dates-table {
  border-collapse: collapse;
  border-spacing: 0;
}

#calendar-dates-table > tbody > tr > td {

  margin: 0;

  border: 1px solid black;

  height: 42px;
  width: 42px;

  cursor: pointer;
  cursor: hand;

  //background-color: #AAAAAA;

  padding: 2px;

  font-size: 9pt;
}

#calendar-dates-table > tbody > tr > td.blank-cell {
  visibility: hidden;
  border: none;
}

#calendar-dates-table > tbody > tr > td:hover {
  background-color: #DDDDDD;
}

.calendar-month-switch {
  cursor: pointer;
  cursor: hand;
}

.calendar-cell-content > div {
  display: inline-block;
}

.past-date {
  background-color: #AAAAAA;
}

.future-date {
  background-color: #DDDDDD;
}

.today-date {
  background-color: #FFFFFF;
}

// Home middle-bottom content (longterm notes)

#longterm-notes-page-container {
  background-color: #CCCCCC;
}

// Home right content (journal)

#journal-entry {
  height: 477px;
  width: 244px;
}

#planner-entry {
  height: 300px;
  width: 200px;

  background-color: #AAAAAA;
}

// Journal partial



