// Place all the styles related to the journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#journal_content {
  width: 228px;
  height: 320px;
}

#journal-show-page-container {
}
// -----------------------
//      NOTEBOOK PAGE 
// -----------------------

.notebook-divider {
  margin-top: 15px;
  overflow: hidden 
}

.notebook-divider-line {
  width: 89%;
  height: 1px;
  margin-bottom: 5px;
  background: grey;
}

.notebook-divider-date {
   width: 10%;
}

.notebook-divider-line, .notebook-divider-date {
  //float: right;
  display: inline-block;
}

#journal-notebook-container > #content > #left {
  vertical-align: top;

  width: 420px;
  height: 2000px;
  display: inline-block;

  margin: 20px;
}

#journal-notebook-container > #content > #right {
  vertical-align: top;

  width: 420px;
  height: 2000px;
  display: inline-block;


  margin: 20px;
}

#journal-notebook-container > #content {
  display: table;
  margin: 30px auto;
}

// ---------------------
