// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#note-update-area {
  
}

#notes-index-container > .note-container {
  display: inline-block;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.task-container {
  display: inline-block;
  border: 1px solid black;

  margin: 5px;
  padding: 5px;
}

// -----------------------
// NOTEBOOK
// -----------------------

#notebook-back {
  height: 30px;
  width:  30px;
 
  background-color: #FFF97B;
}

#notebook-content {
  display: table;
  margin: 50px auto;

  width: 90%;
}

#notebook-navigation {
  width: 20%;
  height: 100%;
}

.nav-note-title {
  color: black;
  text-decoration: none;
}

#notebook-navigation, #notebook-show {
  display: inline-block;
}

.notebook-column { 
  display: inline-block;
  margin: 40px;
  background-color: #ABCDEF;
  padding: 10px 15px;
}

#notebook-show {
  width: 70%;
}

#notebook-content {
  height: 1000px;
}

#notebook-show {
  height: 100%;
}
// -----------------------
