// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#note-update-area {
  
}

#notes-index-container > .note-container {
  display: inline-block;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.task-container {
  display: inline-block;
  border: 1px solid black;

  margin: 5px;
  padding: 5px;
}

// -----------------------
// NOTEBOOK
// -----------------------

#note-notebook-container {
  height: 100%;
  background-color: #EEEEEE;
}


#notebook-back {
  height: 30px;
  width:  30px;
 
  background-color: #FFF97B;
}

#notebook-content {
  display: table;
  margin: 50px auto;

  width: 90%;
}

.nav-note-title {
  color: black;
  text-decoration: none;
}

#notebook-navigation-container, #notebook-show-container {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

.notebook-column { 
  display: inline-block;
  margin: 40px;
  background-color: #ABCDEF;
  padding: 10px 15px;
}

#notebook-show-container {
  width: 70%;
}

#notebook-navigation-container {
  width: 20%;
}

#notebook-show, #notebook-show-note {
  width: 100%;
  height: 100%;
}

#notebook-content {
  height: 100%;
}

// TODO: FIGURE OUT HOW TO PUT A CLASS ON A FORM,
// OR SOMETHING, THEN, CHANGE THIS IDENTIFIER
.edit_note {
  height: 100%;
}

.notebook-note-content-div {
  width: 100%;
  height: 70%;
}

.notebook-note-content {  
  height: 97%;
  max-width: 500px;
  width: 100%;
}

.notebook-note-title {
  max-width: 500px;
  width: 100%;

  font-size: 16pt;
}

.notebook-note-content {
  margin: 10px 0;
}

.notebook-note-title, .notebook-note-content, .notebook-note-submit {
  text-decoration: none;
  color: black;

  padding: 3px;

  border: none;
}

.notebook-note-submit {
  border: 1px solid #ABCDEF;
  background-color: white;
}

// -----------------------
