// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#planner-page-header, #tasks-daily-header {
  display: table;
  margin: auto;
}

#daily-task-body {
  margin-left: 16px;
}

.daily-task-completed {
  text-decoration: line-through;
}

